<ul>
<% @skills.each do |skill| %>
  <li><%= skill.name %>(<%= skill.id %>) 
  <ul>
  <% skill.characters.each do |character|%>
    <li><%= character.name%></li>
  <% end %>
  </ul>
  </li>
<% end %>
</ul>