
<section class="characters-section container">
<% if @user %>
  <h3>Your Characters</h3>
  <div class="characters">  
    <% @user_characters.each do |character|%>
      <%= render partial: "characters", locals: {character: character}%>
    <% end %>
  </div>
<% end %>
</section>
<section class="characters-section container">
<h3>Public Characters</h3>
<p>
</p>
<div class="characters">
  <% @other_characters.each do |character|%>
    <%= render partial: "characters", locals: {character: character}%>
  <% end %>
</div>

</section>
