// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notice{
  // position: fixed;
  right: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #419972;
  background: white;
  font-weight: bold;
  transition: all 1s;
}

.alert{
  // position: fixed;
  right: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #FB1F20 ;
  font-weight: bold;
}


.hover-link{
  margin-left: .5em;
  display: none;
}

.item:hover .hover-link{
  display: inline;
}
.skill:hover .hover-link{
  display: inline;
}
.wise:hover .hover-link{
  display: inline;
}
.trait:hover .hover-link{
  display: inline;
}

.center-text{
  text-align: center;
}

.hidden{
  opacity: 0;
}