// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


header{
  // background-color: var(--primary);
  border-bottom: solid 1px lightgrey;
  // border: solid pink 2px;
  margin-bottom: 4rem;
}
header a{
  // color: white;
}
nav{
  position: relative;
  align-items: end;
  justify-content: right;
  // min-height: 5rem;
  padding: 1.5em 2rem;
  // background-color: var(--primary);
}
header .nav{
  padding: 1em 2em;
}
nav a{
  // font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  // color: white;
}


.hero-section  .hero{
  // background-color: black;
  // background: url(asset_path("banner.jpeg"));
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // color: white;
  position: relative;
  padding-top: 3em;
  padding-bottom: 2em;
}

.hero-section{
  margin-bottom: 3em;
}

// .background-layer{
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0,0,0,.2)
// }


.notice{
  position: fixed;
  left: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #419972;
  background: white;
  font-weight: bold;
  transition: all 1s;
}

.alert{
  position: fixed;
  left: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #FB1F20 ;
  font-weight: bold;
}


.skill,.trait,.wise{
  display: flex;
  align-items: center;
}
.skill span, .trait span{
  margin-right: .5em;
}


.hover-link{
  margin-left: .5em;
  display: none;
}

.item:hover .hover-link{
  display: inline;
}
.skill:hover .hover-link{
  display: inline;
}
.wise:hover .hover-link{
  display: inline;
}
.trait:hover .hover-link{
  display: inline;
}

// .trait{
//   display: grid;
// }

.center-text{
  text-align: center;
}

.hidden{
  opacity: 0;
}

// .aspects-list,.relationships-list,.worldview-list,.gear-list,.traits-list,.skills-list,.wises-list,.attributes-list{
//   border: solid 2px grey;
// }
.aspects,.relationships,.worldview,.gear,.traits,.skills,.wises,.attributes,.header{
  // background-color: #f7f7f8;
  // box-shadow: 1px 1px 3px 1px rgba(181,184,190,1);
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  ul{
    list-style: none;
  }
  padding: 1em;
}

.header{
  background-color: inherit;
  box-shadow: none;
  grid-column: 1/-1;
}


div > h4{
  text-align: center;
  font-family: 'Cardo', serif;
}

h1{
  font-family: 'Cardo', serif;
}

.hero-title{
  max-width: 30ch;
  line-height: 1.4;
  margin: 1em 0;
  
}

.grid{
  display: grid;
}

.character-sheet{
  gap: 2em;
}

.header{
  text-align: center;
  border: none;
}


.characters{
  // border: 3px solid black;
  display: grid;
  margin: 2em 0;
  gap: 2em;
}


.character{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  // padding: 1em;
  
}


.character a{
  display: grid;
  grid-template-columns: 120px auto;
  text-decoration: none;
  color: inherit;
  gap: 1em;
  padding: .5em 0; 
}


.character a:hover{
  color: inherit;
}
// .character img{
//   object-fit: cover;
//   height: 100%;
// }

.character-thumb{
  height: 100%;
  justify-self: center;
}

.character-thumb img{
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.character-text{
  // padding: 1em 0;
}
.character-text h3{
  margin-bottom: 0em;
  font-size: 24px;
  color: var(--primary);
}
.character-text p{
  margin-bottom: 0;
  font-size: 14px;
  color: grey;
}

@media only screen and (min-width: 600px){
  .character-sheet{
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  }
  .characters{
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  }
}