// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notice{
  // position: fixed;
  right: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #419972;
  background: white;
  font-weight: bold;
  transition: all 1s;
}

.alert{
  // position: fixed;
  right: 5px;
  top: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px grey;
  padding: .6em 1.3em;
  color: #FB1F20 ;
  font-weight: bold;
}


.hover-link{
  margin-left: .5em;
  display: none;
}

.item:hover .hover-link{
  display: inline;
}
.skill:hover .hover-link{
  display: inline;
}
.wise:hover .hover-link{
  display: inline;
}
.trait:hover .hover-link{
  display: inline;
}

// .trait{
//   display: grid;
// }

.center-text{
  text-align: center;
}

.hidden{
  opacity: 0;
}

// .aspects-list,.relationships-list,.worldview-list,.gear-list,.traits-list,.skills-list,.wises-list,.attributes-list{
//   border: solid 2px grey;
// }
.aspects,.relationships,.worldview,.gear,.traits,.skills,.wises,.attributes,.header{
  background-color: #f7f7f8;
  box-shadow: 1px 1px 3px 1px rgba(181,184,190,1);
  ul{
    list-style: none;
  }
  padding: 1em;
}
div > h4{
  text-align: center;
  font-family: 'Cardo', serif;
}

h1{
  font-family: 'Cardo', serif;
}
.grid{
  display: grid;
}

.character-sheet{
  gap: 2em;
}

.header{
  text-align: center;
  border: none;
}

.character{
  padding: 2em 0;
  display: flex;
}

@media only screen and (min-width: 600px){
  .character-sheet{
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  }
}