// Place all the styles related to the Conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.conditions-form{
  border: 1px solid pink;
  list-style: none;
}
.condition-check-box{
  background-color: red;
}
.condition-label{
  border: 1px solid red;
  display: inline-block
}