// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.hover-link{
  margin-left: .5em;
  display: none;
}

.item:hover .hover-link{
  display: inline;
}
.skill:hover .hover-link{
  display: inline;
}
.wise:hover .hover-link{
  display: inline;
}

.center-text{
  text-align: center;
}

.hidden{
  color: red;
}