/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

* {
  box-sizing: border-box;
}

:root {
  --black: rgb(39, 41, 50);
  --blue: rgb(15, 114, 115);
  --blue-selected: rgba(15, 114, 115, 0.6);
  --white: rgba(252, 247, 248);
  --primary: rgb(251, 181, 31);
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2em;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 600px) {
  .container {
    width: 90%;
  }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: var(--black);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: #333;
}
h2 {
  font-size: 3.3rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

h3 {
  margin-top: 1.5em;
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--blue);
}
a:hover {
  color: var(--blue-selected);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1.4em;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: rgb(255, 165, 0);
  border-color: rgb(218, 165, 32);
}

.button-increment {
  display: inline-block;
  padding: 0 0;
  height: 20px;
  width: 20px;
  /* color: var(--primary); */
  margin-right: 1em;
  border-color: var(--primary);
  font-weight: bold;
  /* display: grid; */
  border: none;
  box-sizing: border-box;
}
.button-increment img {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.button.button-small {
  max-width: min-content;
  padding: 0 0.5em;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  width: 100%;
  max-width: 200px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--primary);
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  // border: 0;
  // position: absolute !important;
  // height: 1px;
  // margin: -1px;
  // width: 1px;
  // overflow: hidden;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

.character-form {
  width: 90%;
  margin: 0 auto;
}

.conditions-form {
  // border: 1px solid pink;
  list-style: none;
}
input[type="checkbox"].condition-check-box {
  display: none;
}
.condition-label {
  // border: 1px solid red;
  display: inline-block;
  width: 100%;
}
.condition-label::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.condition-label:hover {
  color: orange;
}

.checked {
  color: red;
}

.privacy-box {
  display: inline;
  margin-right: 0.5em;
}

.form-modal {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.minimized {
  width: 0%;
  height: 0%;
  display: none;
}

.group-form {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2em;
}

.character-remover {
  position: absolute;
  top: 10%;
  right: 10%;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  margin-top: 80px;
}

header {
  background-color: var(--black);
  padding: 0.8em 0;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a {
  color: white;
}

.nav-toggle {
  display: block;
  margin: 0;
  border: 0;
  font-size: 15px;
  color: var(--white);
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.logo:hover {
  color: var(--white);
  opacity: 0.6;
}

.flex {
  display: flex;
}

.nav-list {
  padding-top: 1.5em;
  list-style: none;
  text-align: center;
  margin: 0;
  height: 0%;
}

.nav-list li {
  height: 100%;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  height: 100%;
  display: inline-block;
  padding: 1em;
}

.nav-list a:hover {
  opacity: 0.6;
}

// .nav a {
//   margin-left: 1em;
//   font-weight: bold;
//   font-size: 16px;
// }

// nav a {
//   font-weight: bold;
//   text-decoration: none;
//   font-size: 16px;
// }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  min-height: 60vh;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 5em;
}

.hero-text {
  line-height: 1.4;
  font-size: 18px;
}

.hero-image {
  display: block;
  max-width: 50%;
  max-height: auto;
  margin: 0 auto;
}

.hero-title {
  margin: 0.5em auto;
  color: var(--primary);
}

.background-layer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-cta.button.button-primary {
  display: block;
  margin: 0 auto;
  max-width: 30ch;
}

.flash {
  border: 1px solid #efefef;
  background: white;
  display: block;
  max-width: max-content;
  margin: 1em 0 0 auto;
  box-shadow: 1px 1px 3px #ddd;
  padding: 0.6em 1.3em;
  font-weight: bold;
}

.notice {
  color: #419972;
  transition: all 1s;
}

.alert {
  color: #fb1f20;
}

.skill,
.trait,
.wise {
  display: flex;
  align-items: center;
}
.skill span,
.trait span {
  margin-right: 0.5em;
}

.hover-link {
  margin-left: 0.5em;
  display: none;
}

.item:hover .hover-link {
  display: inline;
}
.skill:hover .hover-link {
  display: inline;
}
.wise:hover .hover-link {
  display: inline;
}
.trait:hover .hover-link {
  display: inline;
}

.trait {
  display: grid;
}

.center-text {
  text-align: center;
}

.hidden {
  opacity: 0;
}

.sheet-section {
  ul {
    list-style: none;
  }
}

.character-header {
  background-color: inherit;
  box-shadow: none;
  grid-column: 1/-1;
  text-align: center;
}

.sheet-section h4 {
  text-align: center;
  font-family: "Cardo", serif;
}

h1 {
  font-family: "Cardo", serif;
}

.grid {
  display: grid;
}

.character-sheet {
  gap: 2em;
}

.characters {
  display: grid;
  margin: 2em 0;
  gap: 2em;
}

.character {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  position: relative;
  min-height: 120px;
}

.character a {
  display: grid;
  grid-template-columns: 120px auto;
  text-decoration: none;
  color: inherit;
  gap: 1em;
  padding: 0.5em 0;
}

.character a:hover {
  color: inherit;
}
.character img {
  object-fit: cover;
  height: 100%;
  margin: 0 auto;
}

.character-thumb {
  height: 100%;
  justify-self: center;
}

.character-thumb img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.character-text h3 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 24px;
  color: var(--primary);
}
.character-text p {
  margin-bottom: 0;
  font-size: 14px;
  color: grey;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  --scale: 0;
  position: absolute;
  transition: 200ms all;
  left: 25px;
  content: attr(data-tooltip);
  background: rgba(255, 255, 255, 0.95);
  color: #444;
  border: 1px solid #444;
  border-radius: 0.3rem;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transform-origin: bottom center;
  padding: 0.6rem;
  width: 100%;
  max-width: max-content;
}

.tooltip::before:hover {
  background: red;
}

.tooltip:hover::after,
.tooltip:hover::before {
  --scale: 1;
  transition: 250ms all;
}

.form-section {
  // border: solid 2px pink;
}
.hidden {
  display: none;
}

.form-section h3 {
  margin-top: 0;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 920px) {
  .character-sheet {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .characters {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .logo {
    font-size: 18px;
  }

  header {
    display: flex;
    align-items: center;
    padding: 0.3em;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    width: auto;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    padding: 0;
    height: auto;
    width: auto;
  }

  .nav-list li {
    margin: 0;
    margin-left: 2em;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr max-content 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .hero-image {
    grid-row: 1/-1;
    grid-column: 1 / span 7;
    align-self: center;
    justify-self: flex-start;
    margin: 0;
  }
  .hero-title {
    grid-row: 3;
    grid-column: 4 / span 4;
    align-self: flex-end;
  }
  .hero-text {
    grid-row: 4;
    grid-column: 4 / span 4;
    font-size: 20px;
  }
  .hero-cta {
    grid-row: 5;
    grid-column: 4 / span 1;
  }

  .input-section {
    display: flex;
  }
  .input-col + .input-col {
    margin-left: 10%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .hero {
    grid-template-columns: 1fr 1fr 1fr max-content 1fr 1fr 1fr;
    grid-template-rows: 35% 0px auto min-content 1fr;
  }
  .hero-image {
    grid-row: 1/-1;
    grid-column: 1 / span 6;
    align-self: flex-end;
    justify-self: flex-start;
  }
  .hero-title {
    grid-row: 3;
    grid-column: 4 / span 4;
  }
  .hero-text {
    grid-row: 4;
    grid-column: 4 / span 4;
  }
  .hero-cta {
    grid-row: 5;
    grid-column: 4 / span 1;
  }
}
