
<section class="hero">
  <div class="hero-body container">
    <div class="hero-container">
      <h1 class="hero-title">Evil Prevails if Good Mice do Nothing.</h1>
      <p class="hero-text">
        Use this site to create new characters and track their growth as you play David Peterson and Luke Crane's Mouse Guard RPG. This is 100% under construction. 
        If you're interested in copying or contributing to this code source please <%= link_to "take a look here","https://github.com/ShrikeFound/mouse-sheet" %>.
      </p>
        <%= link_to "Create a Guard", new_character_path, class: "button button-primary hero-cta"%>
    </div>
  </div>
</section>